<a href="https://colab.research.google.com/github/andreinigo/ML-FCiencias/blob/master/Kaggle_NFLBDB_Defensive_Passing_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NFL Big Data Bowl 2021

#Setup

In [ ]:
import pandas as pd
import numpy as np

In [9]:
games = pd.read_csv("games.csv")
players = pd.read_csv("players.csv")
plays = pd.read_csv("plays.csv")

week1=pd.read_csv("week1.csv")

In [ ]:
games.head()

       gameId    gameDate gameTimeEastern homeTeamAbbr visitorTeamAbbr  week
0  2018090600  09/06/2018        20:20:00          PHI             ATL     1
1  2018090901  09/09/2018        13:00:00          CLE             PIT     1
2  2018090902  09/09/2018        13:00:00          IND             CIN     1
3  2018090903  09/09/2018        13:00:00          MIA             TEN     1
4  2018090900  09/09/2018        13:00:00          BAL             BUF     1

In [15]:
plays.head()

       gameId  playId  ...       epa  isDefensivePI
0  2018090600      75  ...  0.261827          False
1  2018090600     146  ... -0.372360          False
2  2018090600     168  ... -0.702779          False
3  2018090600     190  ...  3.047530          False
4  2018090600     256  ... -0.842272          False

[5 rows x 27 columns]

In [10]:
players.head()

     nflId height  weight  ...             collegeName position         displayName
0  2539334     72     190  ...              Washington       CB     Desmond Trufant
1  2539653     70     186  ...  Southeastern Louisiana       CB       Robert Alford
2  2543850     69     186  ...                  Purdue       SS       Ricardo Allen
3  2555162     73     227  ...         Louisiana State      MLB         Deion Jones
4  2555255     75     232  ...               Minnesota      OLB  De'Vondre Campbell

[5 rows x 7 columns]

In [11]:
week1.head()

                       time      x      y  ...  playId  playDirection  route
0  2018-09-07T01:07:14.599Z  91.73  26.67  ...    75.0           left    NaN
1  2018-09-07T01:07:14.599Z  88.89  36.47  ...    75.0           left    NaN
2  2018-09-07T01:07:14.599Z  91.35  44.16  ...    75.0           left  HITCH
3  2018-09-07T01:07:14.599Z  86.31  22.01  ...    75.0           left    NaN
4  2018-09-07T01:07:14.599Z  90.78  36.15  ...    75.0           left  HITCH

[5 rows x 19 columns]

#Exploratory Data Analysis
Links:
https://www.kaggle.com/tombresee/xg-stats

#Measuring Play Impact

*   Huge Play Def - Turnover + TD / Safety
*   Big Play Def - Turnover / Sack on 3rd Down
*   Good Play Def - Tackle for a loss / Sack on 1st or 2nd down / Incomplete Pass
*   Good Play Of - Gain of 1-9 yards 
*   Big Play Of - Gain >= 10 yards
*   Huge Play Of - TD / Convert on 4th down

1. Entender palabras más relevantes en playDescription
2. Limpiar la descripción de nombres de jugadores, "pass", "incomplete", ...
3. Tratar de clasificar plays por playDescription (limpio) en una de las categorías

In [19]:
plays['playDescription']

0        (15:00) M.Ryan pass short right to J.Jones pus...
1        (13:10) M.Ryan pass incomplete short right to ...
2        (13:05) (Shotgun) M.Ryan pass incomplete short...
3        (13:01) (Shotgun) M.Ryan pass deep left to J.J...
4        (10:59) (Shotgun) M.Ryan pass incomplete short...
                               ...
19234    (7:53) J.Johnson pass incomplete short left [K...
19235    (6:53) (Shotgun) B.Gabbert pass incomplete sho...
19236    (5:32) (Shotgun) P.Rivers pass deep right to K...
19237    (1:08) P.Rivers pass incomplete deep middle to...
19238    (7:16) (Shotgun) L.Jackson pass incomplete sho...
Name: playDescription, Length: 19239, dtype: object